table{
    border-collapse: collapse;
}

th,td{
    min-width: 80px;
    /* width is increasing with extra content */
    border: 1px solid #333;
}

td{
    outline: none;
}

#current-cell{
    display: inline-block;
}

.table-top-cont{
    display: flex;
    align-items: center;
    gap: 15px;
}

#bold-btn{
    font-weight: bold;
}

#italics-btn{
    font-style: italic;
}

#underline-btn{
    text-decoration: underline;
}

#button-container{
    display: flex;
    gap: 5px;
}